#firstinput {
    width:60%;
    margin: auto;
}
#secondinput {
    width:60%;
    margin:auto;
    align-content: center;
}
button {
    margin:auto;
}
#navlist {
    width:30%;
}
.title {
    width: auto;
    height:auto;
    margin:2% auto;
    text-align: center;
    font-family: 'Pacifico', cursive;
}
.title h1 {
    font-size: 65px;
}
#bontitle {
    margin-top: -1%;
}
.container {
    margin: 3% auto;
}
.ingredients {
    width: 50%;
    height: 100px;
    margin-top:-4%;
    margin-left: 25%;
    overflow: auto;
}
.instructions {
    width: 50%;
    height: 100px;
    margin-top:2%;
    margin-left: 25%;
    overflow: auto;
}
li {
    font-size: 17px;
    font-weight: 600;
}
.ingredients::-webkit-scrollbar {background-color:#fff;border-radius: 4px}
.ingredients::-webkit-scrollbar-track {background-color:#fff}
.ingredients::-webkit-scrollbar-thumb {background-color:#babac0;border-radius:4px}
.instructions::-webkit-scrollbar {background-color:#fff;border-radius: 4px}
.instructions::-webkit-scrollbar-track {background-color:#fff}
.instructions::-webkit-scrollbar-thumb {background-color:#babac0;border-radius:4px}